:root {
  --color-primary: #EDB497;
  --color-secondary: #90f4c0;
  --color-background: #0B0A07;
  --color-background-dark: #010203;
  --color-background-light: #29251A;
  --color-background-light-dark: #100f0b;
  --color-text: #EEE5BF;
  --color-text-dark: #B5AC86;
  --color-text-dark2: #867F61;
  --color-text-dark3: #585237;
  --error: #ff5232;
  --success: #7bb35d;
}


* {
  margin: 0;
  padding: 0;
  font-family: 'inconsolata', sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'inconsolata', sans-serif;
  font-weight: normal;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

